<div class="user-index">
  <%= render partial: '/users/user_navigation', locals: { active: :collections } %>

  <div class="span8">
    <h1>Collections</h1>
    <hr>

    <ul>
    <% @collections.each do |collection| %>
<<<<<<< HEAD
      <li>
        <%= link_to collection.name, account_collection_path(collection) %>
        <small>(<%= collection.products.count %> items)</small>
      </li>
    <% end %>
    </ul>
  </div>
</div>
=======
    <div class="row-fluid">
    <div class="span8">
      <li><%= link_to collection.name, account_collection_path(collection) %></li>
      <% if collection.sample_collection_image %>
        <%= image_tag collection.sample_collection_image.url(:large),
                      class: "img-polaroid" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

>>>>>>> origin/user_favorites
