<% current_cart.each do |cart_item| %>

<tr>
  <td class="span3">
    <%= image_tag cart_item.product.img.url(:medium), class: 'img-polaroid' %>
  </td>
  <td>
    <%= render partial: "carts/cart_item_tools", locals: {cart_item: cart_item} %>
  </td>
  <td>
    <span class="prod-price-section"><%= number_to_currency(cart_item.unit_price) %>
  </td>
  <td class="span2">
    <%= simple_form_for :carts,
                        url: cart_path,
                        method: :put do |f| %>
      <%= f.hidden_field :product_id, value: cart_item.product.id %>
      <%= f.input_field :quantity, value: cart_item.quantity, class: 'span2' %>
      <%= f.button :submit, t('crud.update'), class:'btn btn-block' %>
    <% end %>
  </td>
</tr>

<% end %>