<div id="checkout_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Checkout</h3>
  </div>
  <div class="modal-body">
    <div style="padding-right: 10px; margin-right: 10px; border-right: 1px solid #ccc; width: 225px; float:left">
    <h4>Login</h4>
    <%= simple_form_for :sessions, url: sessions_path, method: 'POST' do |f| %>
      <%= f.input :email, input_html: { placeholder: t('placeholder.session.email') } %>
      <%= f.input :password %>
      <%= f.hidden_field :next_page, value: store_checkout_path(current_store) %>
      <%= f.button :submit, t('navigation.login'), class:"btn btn-custom-lighten btn-block" %>
    <% end %>
    <%= link_to t('account.create'), signup_path(next_page: store_checkout_path(current_store)) %>
    </div>
    <div style="width: 225px; float:left">
    <h4>Checkout as Guest</h4>
      <%= link_to 'Continue',
                   store_checkout_path(current_store),
                   class: 'btn btn-block' %>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
