<div class="admin-dashboard-manage">
  <%= render partial: 'shared/admin_navigation',
  locals: { active: :manage }  %>

  <div class="span8">
    <h1>Manage</h1>
    <hr>

    <h4>Name</h4>
    <p><%= current_store.name %></p>

    <h4>Path</h4>
    <p><%= current_store.path %></p>

    <h4>Description</h4>
    <p><%= current_store.description %></p>

    <h4>Theme</h4>
    <p><%= current_store.theme %></p>

    <%= link_to 'Edit', store_admin_edit_store_path(current_store) %>
    <hr>
    <%= render partial: 'add_admin', locals: { admin: @admin } %>
    <table class="table table-striped">
      <thead>
        <th>Email</th>
        <th></th>
      </thead>
      <tbody>
        <%= render partial: 'admin', collection: @admins %>
      </tbody>
    </table>
    <hr>
    <%= render partial: 'add_stocker', locals: { stocker: @stocker } %>
    <table class="table table-striped">
      <thead>
        <th>Email</th>
        <th></th>
      </thead>
      <tbody>
        <%= render partial: 'stocker', collection: @stockers %>
      </tbody>
    </table>

  </div>
</div>
