<div class="user-index">
  <%= render partial: 'shared/admin_navigation',
              locals: { active: :manage }  %>
  <div class="span8">
    <h1>Manage</h1>
    <hr>

    <h3>Store Name</h3>
    <p><%= link_to current_store.name, store_home_path(current_store.path) %></p>
    <hr class="faint" />

    <h3>Store Path</h3>
    <p><%= current_store.path %></p>
    <hr class="faint" />

    <h3>Store Description</h3>
    <p><%= current_store.description %></p>
    <hr class="faint" />

    <%= link_to 'Edit', store_admin_edit_store_path(current_store) %>
    <hr>
    <%= render partial: 'add_admin', locals: { admin: @admin } %>
    <table class="table table-striped">
      <thead>
        <th>Email</th>
        <th></th>
      </thead>
      <tbody>
        <%= render partial: 'admin', collection: @admins %>
      </tbody>
    </table>
  </div>
</div>
