<% if current_store.pending? %>
<p id="notice"><%= "Not Found: This store is pending approval." %></p>
<%= render partial: 'store_details' %>
<% else %>
<div class="product-index">
  <section class="row">
    <%= render partial: 'category_dropdown',
               locals: { categories: @categories } %>
  </section>

  <br/>

  <div id="product_listing" class="row-fluid">
    <%= render @products %>
  </div>

  <div class="pagination"> <%= paginate @products %></div>

</div>
<% end %>
