<% if logged_in? %>
<div class='row-fluid' id='account-text-section'>
  <div class='span12'>
    <span>Welcome,
      <!-- If uber then go to the uber dashboard -->
      <% if current_user.uber? %>
      <%= link_to current_user.first_name, uber_account_path %> | <%= link_to "Logout",
                                    logout_path,
                                    method: :delete %>
      <!-- if admin then go to the admin dashboard -->
      <% else %>
      <!-- if regular user then go to the user dashboard -->
      <%= link_to current_user.first_name, profile_path %> | <%= link_to "Logout",
                                    logout_path,
                                    method: :delete %>
      <% end %>    
    </span>
  </div>
</div>
<% end %>

<div class='row-fluid'>
  <%= link_to root_path do %>
  <div class="span2 etsy-nav" id="etsy-logo">
    Agraphum
  </div>
  <% end %>

  <div class='span3'>
    <div class='row-fluid'>
      <% if logged_in? %>
        <% if current_user.favorites %>
        <a class="btn span4 etsy-nav" href="<%= account_collection_path(current_user.favorites)%>"><i class="icon-heart"></i></a>
        <% end %>
        <a class="btn span4 etsy-nav" href="<%= profile_path %>"><i class="icon-user"></i></a>
        <a class="btn span4 etsy-nav" href="<%= account_collections_path %>"><i class="icon-gift"></i></a>
      <% else %>
        <%= link_to 'Signup', signup_path, class: "btn span6 etsy-nav" %>
        <%= link_to 'Login', login_path, class: "btn span6 etsy-nav" %>
      <% end %>
    </div>
  </div>

  <div class='span5 etsy-nav etsy-search-bar'>
    <form method="post" action="/search_results">
      <input type="text" class="search-query" data-provide="typeahead" data-source="<%= @search_terms %>" autocomplete="off" name="query" placeholder="Search">
    </form>
  </div>

  <a class="btn span2 etsy-nav" href="<%= cart_path %>"><i class="icon-shopping-cart"></i>
     Cart
    <% unless current_cart.empty? %>
      <%= current_cart.count %>
    <% end %>
  </a>
</div>
